# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
*~

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
*.ipr
*.iws
pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# Coverage & misc
coverage/
*.log
.env
.env.*
env.json
env.*.json
